* {
    font-family: "roboto", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
}

a {
    text-decoration: none;
}

.grey-bg {
    background-color: #E5E7EB;
}

.white-bg {
    background-color: #F9FAF8;
}

.dark-bg{
    background-color: #1f2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-width {
    width: 1000px;
}

.center {
    display: flex;
    justify-content: center;
}

.header-content {
    padding-top: 14px;
}

.header-logo {
    font-size: 24px;
}

.header-links,
.header-content {
    display: flex;
    align-items: center;
}

.header-content {
    justify-content: space-between;
}

.header-links {
    gap: 20px;
}

.header-logo,
.hero-main {
    color: #F9FAF8;
    font-weight: 900;
}

.first-section-content {
    display: flex;
    gap: 20px;
    margin: 100px 0px;
}

.hero-main {
    font-size: 48px;
}

a,
.hero-sub,
.call-to-action-sub,
.footer-content {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.call-to-action,
button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 500;
}

.call-to-action-button,
.intro-button {
    border: none;
    border-radius: 7px;
    width: 130px;
    height: 35px;
    font-size: 18px;
}

.intro-button {
    margin-top: 10px;
}

.second-section {
    margin-bottom: 80px;
}

.info {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author {
    color: #1f2937;
    font-weight: 900;
}

.intro-image{
    width: 300px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.cards li{
    display: flex;
    flex-flow: column;
    width: 185px;
}

.cards li img{
    border-radius: 10%;
}

.third-section-content{
    margin: 100px 0px;
}

.author {
    text-align: end;
    font-size: 20px;
}

.call-to-action {
    margin: 80px 0px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.call-to-action-main {
    font-size: 18px;
}

.call-to-action-sub {
    font-size: 14px;
}

.call-to-action-button {
    border: #F9FAF8 solid 2px;
}

.third-section-content {
    width: 790px;
}

.footer-content {
    font-size: 15px;
    text-align: center;
    margin: 30px 0px;
}