* {
    font-family: "roboto", sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
}

a {
    text-decoration: none;
}

.box {
    width: 800px;
}

.center {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links,
.header-content {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.header-content {
    justify-content: space-between;
}

.header-links {
    gap: 20px;
}

.header,
.first-section,
.footer {
    background-color: #1f2937;
}

.header-logo,
.hero-main {
    color: #F9FAF8;
    font-weight: 900;
}

.hero-main {
    font-size: 48px;
}

.header-logo {
    font-size: 24px;
}

a,
.intro-text {
    font-size: 18px;
    color: #E5E7EB;
}

.first-section {
    display: flex;
}

.call-to-action,
button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.second-section {
    background-color: #F9FAF8;
    padding-bottom: 80px;
}

.info {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
    text-align: center;
}

.third-section {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.author {
    color: #1f2937;
    font-weight: 900;
}

.fourth-section {
    background-color: #F9FAF8;
}

.intro-image{
    width: 300px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.cards li{
    display: flex;
    flex-flow: column;
    width: 150px;
}

.cards li img{
    border: 3px blue solid;
    border-radius: 10%;
}